.login-page {
    background-color: bisque;
    position: relative;
    /* center the login container middle of the screen */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* login border */
.login-container {
    border: 28px 28px 28px 28px solid #ccc;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 520px;
    height: 679px;
}

.error-message {
    color: #b00020;
}


h1 {
    text-align: center;
    color: #333;
}